<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 基础设置 -->
    <settings>
        <!-- changes from the defaults -->
        <setting name="lazyLoadingEnabled" value="false" />
    </settings>
    <!-- 别名定义 -->
    <typeAliases>
        <typeAlias alias="session" type="com.scipublish.MailProxy.model.MPMailSession" />
        <typeAlias alias="record" type="com.scipublish.MailProxy.model.MPMailRecord" />
        <typeAlias alias="mail" type="com.scipublish.MailProxy.model.MPMail" />
    </typeAliases>
    <!-- SQL映射文件 -->
    <mappers>
        <mapper resource="ibatis/MailSession.xml" />
        <mapper resource="ibatis/MailRecord.xml" />
        <mapper resource="ibatis/Mail.xml" />
    </mappers>
</configuration>
