<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName" default-lazy-init="true">

    <description>define all the basic bean mappings</description>
    <!-- 激活annotation功能 -->
    <context:annotation-config />
    <!-- 激活annotation功能 -->
    <context:spring-configured />
    <!-- 扫描指定package下所有带有如@controller,@services,@resource,并把所注释的注册为Spring Beans -->
    <context:component-scan base-package="com.scipublish.MailProxy">
    </context:component-scan>

    <bean id="MailGunConfig" class="com.scipublish.MailProxy.common.MailGunConfiguration">
        <property name="apiUrl" value="https://api.mailgun.net/v2" />
        <property name="key" value="key-8n6oqa7yq-wa3fyfoqm6ostvkr-x9p87" />
    </bean>

    <bean id="MailProxyConfig" class="com.scipublish.MailProxy.common.MailProxyConfiguration">
        <property name="domain" value="scipublish.com" />
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxInMemorySize">
            <value>20480</value>
        </property>
        <property name="defaultEncoding">
            <value>UTF-8</value>
        </property>
    </bean>

    <!-- jesque config -->
    <bean id="jesqueConfigBuilder" class="com.scipublish.MailProxy.common.JesqueConfigBuilder">
        <property name="host" value="172.16.9.103" />
        <property name="port" value="6379" />
        <property name="namespace" value="com.scipublish.mailproxy" />
        <property name="timeout" value="5000" />
    </bean>
</beans>